form {
  text-align: center;
  width: 100%;
}
form h3 {
  font-size: 14px;
}
form input {
  width: 100%;
}
form .ng-touched {
  background-color: #FFBFBF;
}
form .ng-valid {
  background-color: greenyellow;
}
form #mensaje {
  clear: both;
  width: 100%;
}
form #mensaje .text-muted {
  color: red !important;
}
form .lleno {
  visibility: hidden;
}
