<nav class="navbar col-lg-12 col-12 p-3">
    <div class="col-lg-4 col-12 p-2">
        <a id="botonHome" href="#" class="btn btn-lg" tabindex="-1" role="button" aria-disabled="true">
            <i id="botonHomeIco" class="fas fa-home"></i>
        </a>
    </div>
    <div class="col-lg-4 col-12 p-2">
        <h1 class="text-center">PECC-19</h1>
    </div>
    <div class="col-lg-1 col-12 p-2">
        <a id="iniciar" href="/''" class="btn btn-lg" tabindex="-1" role="button" aria-disabled="true" [routerLink]="['/login']">Iniciar seción</a>
    </div>

    <div class="col-lg-1 col-12 p-2">
        <a id="registrar" class="btn btn-lg" tabindex="-1" role="button" aria-disabled="true" [routerLink]="['/registro']">Registrarse</a>
    </div>
    <div class="col-lg-1 col-0"></div>
</nav>