<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-12">

        </div>
        <div class="col-lg-4 col-12 mt-4">
            <ng-container *ngIf="datosClinica">

                <div class="card col-lg-12 col-12 background" style="width: 100%;">
                    <div class="card-body cardColor">
                        <h5 class="card-title text-left mb-3 cardColor">Informacion de la clinica</h5>
                        <app-postulaciones-trabajo-info [datoClinica]="datosClinica"></app-postulaciones-trabajo-info>

                    </div>
                </div>

            </ng-container>
        </div>
        <div class="col-lg-4 col-12">

        </div>
    </div>
</div>