<div class="card col-lg-12 col-12">
    <div class="row">
        <div class="col-lg-12 col-12 text-left">
            <p class="text-dark mb-0">Nombre: {{datoClinica.nombreClinica}} </p>
            <p class="text-dark mb-0">Ubicacion: {{datoClinica.ubicacionClinica}} </p>
            <p class="text-dark mb-0">Contactos: {{datoClinica.contactoClinica}} </p>
            <p class="text-dark mb-0">Estado solicitud: {{datoClinica.estadoSolicitud}} </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 text-center">
        <button type="button" class="btn btn-info mt-4" [routerLink]="['/postulaciones-activas']">Regresar</button>
    </div>
</div>