<div class="card col-lg-12 col-12 cardColor">
    <div class="row">
        <div class="col-lg-12 col-12 text-left">
            <p class="text-dark mb-0">Nombre: {{datoClinica.nombreClinica}} </p>
            <p class="text-dark mb-0">Cupos medicos: {{datoClinica.cuposMedicos}}</p>
            <p class="text-dark mb-0">Cupos kinesiologo: {{datoClinica.cuposKinesiologo}}</p>
            <p class="text-dark mb-0">Cupos tens: {{datoClinica.cuposTens}}</p>
            <p class="text-dark mb-0">Cupos enfermeria: {{datoClinica.cuposEnfermeria}}</p>
            <p class="text-dark mb-0">Ubicacion: {{datoClinica.ubicacionClinica}} </p>
            <p class="text-dark mb-0">Contactos: {{datoClinica.contactoClinica}} </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-12 text-center mt-3">
        <div class="alert alert-success btn-sm" role="alert" *ngIf="isDivVisible">
            {{mensaje}}
        </div>
        <button type="summit" (click)='postulacion()' class="btn btn-success">
            Postular
        </button>
    </div>
    <div class="col-lg-12 col-12 text-center mt-3">
        <button type="button" class="btn btn-info" [routerLink]="['/postular']">Regresar</button>
    </div>
</div>