<ng-container class="container-fluid">

    <div class="row">

        <div class="col-lg-12 col-12 text-center mt-5">
            <div class="card" style="height:6rem;">
                <form>
                    <div class="form-group text-center">
                        <label class=" text-center" for="exampleFormControlFile1">Subir Curriculum</label>
                        <input type="file" class="form-control-file" id="archivo">
                    </div>
                </form>
            </div>
        </div>

    </div>

</ng-container>