<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-12">

        </div>
        <div class="col-lg-4 col-12 mt-4">
            <ng-container>
                <div class="card">
                    <div class="card-body background">
                        <h5 class="card-title text-left mb-4">Información de la clinica</h5>
                        <app-promocion-basic-info></app-promocion-basic-info>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="col-lg-4 col-12 mt-4">


        </div>
    </div>
</div>